<h1>Welcome to CRF design : </h1>
<p>
    The following things are available (go to edit in controllers) :
</p>
<ul>
    <li>Crf Options(link)</li>
    <li>Crf Pages (link)</li>
    <li>Crf Pages Components (link)</li>
    <li>Crf Pages Question Types (generic)(link)</li>
    <li> Other entities :</li>
    <li>Crf Pages (link)</li>
    <li>Crf Pages (link)</li>
    <li>Crf Pages (link)</li>
    <li>Crf Pages (link)</li>
    <li>Crf Pages (link)</li>
</ul>