@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <ul>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Experiments" asp-action="Index">Experiment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="VisitGroup" asp-action="Index">Visit Groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Visit" asp-action="Index">Visits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Module" asp-action="Index">Module</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Component" asp-action="Index">Component</a>
            </li>
            <li>================</li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="ModuleInfo" asp-action="Index">Main Entities Data</a>
            </li>
            <li>================</li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="PersistentEntity" asp-action="Index">Static Entities (all)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Site" asp-action="Index">Sites (Medical Research Centers)</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Doctor" asp-action="Index">Doctors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Patients" asp-action="Index">Patients</a>
            </li>

        </ul>
    </div>
</div>
