@model EDC2Reporting.WebAPI.Models.SiteModels.SelectSiteViewModel
@{
    Layout = null;
}

<div>
    Country
    @Html.DropDownList("CountryId", Model.CountryId);
</div>
<div>
    City
    @Html.DropDownList("CityId", Model.CityId)
</div>
<div>
    Site
    @Html.DropDownList("SiteId", Model.SiteId)
</div>