@Model TextComponent
@{
    Layout = null;
}

<div class="BasicCrfInput">
    
        <div class="BasicLabel">
            <label>
                @Model.Label
            </label> 
        </div>
        
        <div class="BasicInput">
            <input type="text" placeholder="@Model.Text" />
        </div>
       
 </div>
